body{
    background-color: rgb(3, 9, 20);
    font-family: Arial;
}

main{
    border: 0.30rem solid rgb(2,73,77);
    border-radius: 5px;
    color: whitesmoke;
    padding: 10px;
}

h1{
    text-align: center;
}

h1,h2,h3,h4{
    font-size: 1.5rem;
}

#int{
    width: 500px or fit-content;
    border: 0.30rem solid rgb(2,73,77);
    border-radius: 3px;
    font-size: 1.3rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.nav{
    text-align: center;
    font-size: 1.5rem;
}

ul li{
    display: inline;
    border-radius: 5px;
    background-color: rgb(10, 49, 49);
    padding: 5px;
}

ul li:hover{
    padding: 10px;
    border: 3px solid whitesmoke;
}

#kep1{
    text-align: center;
    width: 25%;
    height: 25%;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    width: 500px or fit-content;
    border: 0.30rem solid rgb(2,73,77);
    border-radius: 3px;
}
th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

.szamolas{
    width: 500px or fit-content;
    border: 0.30rem solid rgb(2,73,77);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

input{
    width: 100px;
}

a, a:visited{
    color: white;
}

footer{
    font-size: 2rem;
    background-color: rgb(9, 50, 88);
    height: 80px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

@media screen and (max-width: 768px) {
    main {
        padding: 5px;
    }
    
    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    #int, .szamolas {
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 80%;
    }

    table {
        font-size: 0.9rem;
    }

    footer {
        font-size: 1.5rem;
    }

    input{
        width: 6rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .nav ul {
        font-size: 1.2rem;
    }

    table {
        font-size: 0.8rem;
    }

    footer {
        font-size: 1.2rem;
    }
}

ul li:first-child, ul li:last-child{
    border: 3px solid rgba(255, 255, 255, 0.479);
}


a[href]{
    text-decoration: none;
} 

h5, h6{
    font-size: 1rem;
    font-weight: normal;
}